@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-am-black: #1a1a1a;
  --color-am-green: #a7f3d0;
  --color-am-blue: #bae6fd;
  --color-am-gradient-start: #d1fae5;
  --color-am-gradient-end: #e0f2fe;
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.watermark-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
  /* Changed from -1 to ensure it's above body background */
  opacity: 0.08;
  /* Increased from 0.04 */
  background-image: url('/marca-dagua.jpg');
  background-repeat: repeat;
  background-size: 250px;
}